.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding: 1.25vw 0;
  transition: 0.3s ease-in-out;

  &.headerScrolled {
    background-color: rgb(10 10 10 / 0.9);
    border-bottom: 0.01vw solid rgb(255 255 255 / 0.1);
    backdrop-filter: blur(0.3vw);
    -webkit-backdrop-filter: blur(0.3vw);
    box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.1);
    padding: 0.75vw 0;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 1.75vw 0;
    background-color: rgb(10 10 10 / 0.9);
    border-bottom: 0.01vw solid rgb(255 255 255 / 0.1);
    backdrop-filter: blur(0.3vw);
    -webkit-backdrop-filter: blur(0.3vw);
    box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.1);

    &.headerScrolled {
      padding: 1.75vw 0;
    }
  }
}

@media (max-width: 576px) {
  .header {
    padding: 3.5vw 0;

    &.headerScrolled {
      padding: 3.5vw 0;
    }
  }
}

.container {
  max-width: 78.5vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}

.logoBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  // gap: 0.25vw;

  & .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: var(--color-blue);
    // border-radius: 0.4vw;
    // border-radius: 0.5rem;
    // padding: 0.25vw 0.25vw;
    // padding: 0.3rem 0.3rem;
    // width: 1.3vw;
    // width: 2.1rem;
    width: 8vw;

    & img {
      width: 100%;
    }
  }

  & .logo {
    display: flex;
    align-items: center;
    font-size: 1vw;
    // font-size: 1.2rem;
    color: var(--color-white);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small2);
    letter-spacing: -0.05vw;
    gap: 0.4vw;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .logoBlock {
    // gap: 1vw;

    & .logoContainer {
      // border-radius: 0.75vw;
      // padding: 0.25vw 0.25vw;
      // width: 4vw;
      width: 22vw;
    }

    & .logo {
      font-size: 2.4vw;
      letter-spacing: 0vw;
      line-height: var(--font-lineh-small);
    }
  }
}

@media (max-width: 576px) {
  .logoBlock {
    // gap: 2vw;

    & .logoContainer {
      // border-radius: 1vw;
      // padding: 0.5vw 0.5vw;
      // width: 8vw;
      width: 34vw;
    }

    & .logo {
      font-size: 4.2vw;
      letter-spacing: 0vw;
      line-height: var(--font-lineh-small);
    }
  }
}

/* burger */

.burger {
  display: none;
}

.mobileMenu {
  display: none;
}

@media (max-width: 1024px) {
  .burger {
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;

    & .burgerIcon {
      width: 2.5vw;
      height: 2.5vw;
    }
  }

  .mobileWrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 40;
  }

  .mobileWrapper.open {
    pointer-events: auto;
  }

  .mobileMenu {
    background-color: rgb(10 10 10 / 0.9);
    border-bottom: 0.01vw solid rgb(255 255 255 / 0.1);
    backdrop-filter: blur(0.3vw);
    -webkit-backdrop-filter: blur(0.3vw);
    box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.1);

    width: 100%;
    padding: 3vw 5.2vw;

    transform: translateY(-1vw);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;

    display: flex;
    flex-direction: column;
  }

  .mobileWrapper.open .mobileMenu {
    transform: translateY(0);
    opacity: 1;
  }

  .nav {
    display: none;
  }

  .burger {
    display: flex;
  }
}

@media (max-width: 576px) {
  .burger {
    & .burgerIcon {
      width: 5vw;
      height: 5vw;
    }
  }

  .mobileMenu {
    backdrop-filter: blur(0.3vw);
    -webkit-backdrop-filter: blur(0.3vw);
    box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.1);
    padding: 6vw 6vw;
    transform: translateY(-1vw);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: flex;
    flex-direction: column;
  }
}
