.faqScreen {
  background: rgba(10, 10, 10, 1);
  padding: 5vw 0;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1024px) {
  .faqScreen {
    padding: 8vw 0;
  }
}

@media (max-width: 576px) {
  .faqScreen {
    padding: 10vw 0;
  }
}
.container {
  width: 80vw;
  margin: 0 auto;
  z-index: 3;
}

@media (max-width: 1024px) {
  .container {
    width: 90vw;
  }
}

.neonCircle {
  position: absolute;
  border-radius: 50%;
  animation: translateY 4s ease-in-out infinite;
  z-index: 0;

  &.bluePrint {
    width: 22vw;
    height: 22vw;
    background: rgba(168, 85, 247, 0.1);
    top: 24%;
    right: -5%;
    filter: blur(4vw);
    z-index: 0;
  }

  &.bluePrintTwo {
    width: 22vw;
    height: 22vw;
    background: rgba(59, 130, 246, 0.1);
    bottom: 10%;
    left: -5%;
    filter: blur(4vw);
    z-index: 0;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .tagBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(168, 85, 247, 0.1);
    border: 0.01vw solid rgba(168, 85, 247, 0.3);
    padding: 0.35vw 2.4vw;
    border-radius: 2vw;
    gap: 0.25vw;

    & p {
      font-size: 0.6vw;
      color: var(--color-pink);
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-small);
      text-transform: uppercase;
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}

@media (max-width: 1024px) {
  .textContent {
    & .tagBlock {
      padding: 1vw 2vw;
      border-radius: 3vw;

      & p {
        font-size: 1.55vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .textContent {
    & .tagBlock {
      padding: 1.8vw 3vw;
      border-radius: 5vw;

      & p {
        font-size: 2.6vw;
      }
    }
  }
}

.titleScreen {
  text-align: center;
  font-size: 2.4vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-small);
  margin-top: 0.75vw;
  width: 50%;

  & span {
    color: var(--color-blue);
  }
}

@media (max-width: 1024px) {
  .titleScreen {
    font-size: 4vw;
    margin-top: 3vw;
    line-height: var(--font-lineh-small2);
    width: 100%;
  }
}

@media (max-width: 576px) {
  .titleScreen {
    text-align: center;
    font-size: 6vw;
    margin-top: 3vw;
  }
}

.borderLine {
  width: 65%;
  height: 0.175vw;
  border-radius: 2vw;
  background: linear-gradient(
    90deg,
    rgba(14, 165, 233, 0),
    rgba(14, 165, 233, 0.25),
    rgba(192, 132, 252, 1),
    rgba(14, 165, 233, 0.25),
    rgba(14, 165, 233, 0)
  );
  position: relative;
  overflow: visible;
  margin-top: 1.5vw;
}

@media (max-width: 1024px) {
  .borderLine {
    width: 85%;
    height: 0.5vw;
    border-radius: 3vw;
    margin-top: 3vw;
  }
}

.textDescription {
  width: 50%;
  text-align: center;
  font-size: 1vw;
  color: var(--color-light-gray-for-data-block);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-light);
  line-height: var(--font-lineh-normal);
  margin-top: 1.5vw;
}

@media (max-width: 1024px) {
  .textDescription {
    width: 100%;
    font-size: 1.8vw;
    margin-top: 3vw;
  }
}

@media (max-width: 576px) {
  .textDescription {
    font-size: 3.6vw;
    margin-top: 4vw;
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 1.5vw;
  margin-top: 2vw;
}

@media (max-width: 1024px) {
  .accordion {
    gap: 2vw;
    margin-top: 4vw;
  }
}

@media (max-width: 576px) {
  .accordion {
    gap: 4vw;
    margin-top: 5vw;
  }
}

.accordionItem {
  width: 100%;
  background: rgba(24, 24, 24, 0.2);
  box-shadow: 0 0.2vw 1.5vw rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5vw);
  -webkit-backdrop-filter: blur(0.5vw);
  border: 0.01vw solid rgba(255, 255, 255, 0.3);
  border-radius: 0.8vw;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;

  &:hover {
    border-color: rgba(255, 255, 255, 0.15);
  }

  & .accordionButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9vw;
    color: var(--color-white);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-smallBold);
    line-height: var(--font-lineh-small2);
    background: rgba(24, 24, 24, 0.01);
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    padding: 1.25vw 1.25vw;
    border-radius: 0.5vw;
    transition: 0.3s;
    position: relative;
    z-index: 3;

    & .accordionIcon {
      width: 1vw;
      height: 1vw;
      color: var(--color-white);
    }
  }
}

@media (max-width: 1024px) {
  .accordionItem {
    width: 100%;
    border-radius: 1vw;

    &:hover {
      border: 0.01vw solid rgba(255, 255, 255, 0.3);
    }

    & .accordionButton {
      font-size: 1.85vw;
      padding: 2vw 2.5vw;
      border-radius: 1vw;

      & .accordionIcon {
        width: 2vw;
        height: 2vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .accordionItem {
    border-radius: 3vw;
    & .accordionButton {
      font-size: 3.6vw;
      border-radius: 3vw;
      padding: 4vw 4vw;
      line-height: var(--font-lineh-normal);

      & span {
        width: 90%;
      }

      & .accordionIcon {
        width: 4vw;
        height: 4vw;
      }
    }
  }
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  font-size: 0.85vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-light);
  line-height: var(--font-lineh-normal);
  padding: 0 1.25vw;
  transition: 0.3s ease-in-out;

  & .faqList {
    padding-left: 1vw;
    & li {
      margin-top: 0.5vw;
    }
  }

  &.active {
    max-height: 15vw;
    padding-bottom: 1vw;
  }
}

@media (max-width: 1024px) {
  .accordionContent {
    font-size: 1.75vw;
    padding: 0vw 2.5vw;

    & .faqList {
      padding-left: 2vw;
      & li {
        margin-top: 1.5vw;
      }
    }

    &.active {
      max-height: 40vw;
      padding-bottom: 2vw;
    }
  }
}

@media (max-width: 576px) {
  .accordionContent {
    font-size: 3.4vw;
    padding: 0vw 4vw;

    & .faqList {
      padding-left: 4vw;
      & li {
        margin-top: 3vw;
      }
    }

    &.active {
      max-height: 200vw;
      padding-bottom: 4vw;
    }
  }
}
