.tariffsMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: rgba(10, 10, 10, 1);
  position: relative;
  padding: 5vw 0;
}

@media (max-width: 1024px) {
  .tariffsMain {
    padding: 8vw 0;
  }
}

@media (max-width: 576px) {
  .tariffsMain {
    padding: 10vw 0;
  }
}

.container {
  width: 80vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    width: 90vw;
    z-index: 3;
  }
}

.containerForTariffs {
  width: 65vw;
  margin: 0 auto;

  &.tariffsTabletAndPhone {
    display: none;
  }
}

@media (max-width: 1024px) {
  .containerForTariffs {
    width: 90vw;
    margin: 0 auto;

    &.tariffsPc {
      display: none;
    }

    &.tariffsTabletAndPhone {
      display: flex;
    }
  }
}

.neonCircle {
  position: absolute;
  border-radius: 50%;
  animation: translateY 4s ease-in-out infinite;
  z-index: 0;

  &.bluePrint {
    width: 20vw;
    height: 20vw;
    background: rgba(168, 85, 247, 0.1);
    top: 53%;
    right: 6%;
    filter: blur(4vw);
    z-index: 0;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}

.titleScreen {
  text-align: center;
  font-size: 2.4vw;
  background: linear-gradient(to right, rgb(59, 130, 246), rgb(168, 85, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-small);
  width: 50%;
  margin-top: 5vw;
}

@media (max-width: 1024px) {
  .titleScreen {
    font-size: 4vw;
    line-height: var(--font-lineh-small2);
    width: 100%;
    margin-top: 8vw;
  }
}

@media (max-width: 576px) {
  .titleScreen {
    text-align: center;
    font-size: 6vw;
    margin-top: 10vw;
  }
}

.borderLine {
  width: 65%;
  height: 0.175vw;
  border-radius: 2vw;
  background: linear-gradient(
    90deg,
    rgba(14, 165, 233, 0),
    rgba(14, 165, 233, 0.25),
    rgba(192, 132, 252, 1),
    rgba(14, 165, 233, 0.25),
    rgba(14, 165, 233, 0)
  );
  position: relative;
  overflow: visible;
  margin-top: 1.5vw;
}

@media (max-width: 1024px) {
  .borderLine {
    width: 85%;
    height: 0.5vw;
    border-radius: 3vw;
    margin-top: 3vw;
  }
}

@media (max-width: 576px) {
  .borderLine {
    width: 100%;
    height: 0.75vw;
    border-radius: 5vw;
    margin-top: 4vw;
  }
}

.textDescription {
  width: 60%;
  text-align: center;
  font-size: 1vw;
  color: var(--color-light-gray-two);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-normal);
  margin-top: 1.5vw;
}

@media (max-width: 1024px) {
  .textDescription {
    width: 100%;
    font-size: 1.8vw;
    margin-top: 3vw;
  }
}

@media (max-width: 576px) {
  .textDescription {
    font-size: 3.6vw;
    margin-top: 4vw;
  }
}

.descriptionAndButtonChangeBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  margin-top: 1.5vw;

  & .descriptionChangeBlock {
    display: flex;
    font-size: 0.75vw;
    color: rgba(218, 218, 218, 1);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-normal);
  }

  & .toggleSwitch {
    width: 1.8vw;
    height: 1.1vw;
    background-color: #323842;
    border-radius: 1.5vw;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    padding: 0.25vw;

    & .toggleCircle {
      width: 0.8vw;
      height: 0.8vw;
      background-color: var(--color-light-blue-for-icon);
      border-radius: 50%;
      position: absolute;
      left: 0.16vw;
      transition: all 0.3s ease;
    }

    &:global(.on) {
      background-color: #323842;

      .toggleCircle {
        left: calc(100% - 0.96vw);
      }
    }
  }

  & .discountGradientBlock {
    padding: 0.65vw 0.75vw;
    border-radius: 0.3vw;
    background: linear-gradient(266deg, #5c2391 -15.15%, #0e1b30 106.81%);

    & .textDiscount {
      font-size: 0.75vw;
      color: rgba(191, 203, 229, 1);
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-smallStrong);
      line-height: var(--font-lineh-small);

      &.textDiscounON {
        color: var(--color-light-blue-for-icon);
      }
    }
  }
}

@media (max-width: 1024px) {
  .descriptionAndButtonChangeBlock {
    gap: 2vw;
    margin-top: 2vw;

    & .descriptionChangeBlock {
      font-size: 1.8vw;
    }

    & .toggleSwitch {
      width: 5vw;
      height: 3vw;
      border-radius: 1.5vw;
      padding: 0.25vw;

      & .toggleCircle {
        width: 2vw;
        height: 2vw;
        left: 0.5vw;
      }

      &:global(.on) {
        background-color: #323842;

        .toggleCircle {
          left: calc(100% - 2.5vw);
        }
      }
    }

    & .discountGradientBlock {
      padding: 1vw 1.5vw;
      border-radius: 1vw;

      & .textDiscount {
        font-size: 1.8vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .descriptionAndButtonChangeBlock {
    gap: 4vw;
    margin-top: 5vw;

    & .descriptionChangeBlock {
      font-size: 3.6vw;
    }

    & .toggleSwitch {
      width: 11vw;
      height: 7vw;
      border-radius: 5vw;
      padding: 0.25vw;

      & .toggleCircle {
        width: 5vw;
        height: 5vw;
        left: 1vw;
      }

      &:global(.on) {
        background-color: #323842;

        .toggleCircle {
          left: calc(100% - 6vw);
        }
      }
    }

    & .discountGradientBlock {
      padding: 2.5vw 3vw;
      border-radius: 1.5vw;

      & .textDiscount {
        font-size: 3.6vw;
      }
    }
  }
}
