// src/components/InvoiceModal.module.scss
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9000;
  backdrop-filter: blur(0.2vw);
}

.modal {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border: 0.1vw solid rgba(255, 255, 255, 0.1);
  border-radius: 1vw;
  padding: 1.5vw 2vw;
  width: 90%;
  max-width: 30vw;
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-out;
}

@media (max-width: 1024px) {
  .modal {
    border-radius: 1.5vw;
    padding: 3.5vw 3.5vw;
    width: 90%;
    max-width: 80vw;
  }
}

.modalCloseIcon {
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 1.5vw;
  height: 1.5vw;
  color: var(--color-white);
  cursor: pointer;
  padding: 0.2vw;
  transition: all 0.2s;

  &:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
  }
}

@media (max-width: 1024px) {
  .modalCloseIcon {
    top: 2vw;
    right: 2vw;
    width: 3vw;
    height: 3vw;
    padding: 0vw;

    &:hover {
      background: rgba(255, 255, 255, 0);
    }
  }
}

.title {
  text-align: center;
  font-size: 1vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-small);
}

@media (max-width: 1024px) {
  .title {
    font-size: 2.2vw;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
  margin-top: 1.5vw;
}

@media (max-width: 1024px) {
  .form {
    gap: 3vw;
    margin-top: 3vw;
  }
}

.field {
  display: flex;
  flex-direction: column;
  & input {
    background: rgba(54, 139, 199, 0.07);
    box-shadow: 0 0.2vw 1.5vw rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5vw);
    -webkit-backdrop-filter: blur(0.5vw);
    border-radius: 0.85vw;
    border: 0.01vw solid rgba(255, 255, 255, 0.3);
    padding: 0;
    margin: 0;
    padding: 1vw 1vw;
    font-size: 0.8vw;
    color: var(--color-white);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-small);
    outline: none;
    transition: all 0.3s;

    &::placeholder {
      opacity: 0.9;
    }

    &:focus {
      border: 0.01vw solid rgba(255, 255, 255, 0.1);
    }

    &.errorInput {
      border: 0.01vw solid #ef4444;
    }
  }

  & .errorText {
    margin-top: 0.25vw;
    font-size: 0.8vw;
    color: #ef4444;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-small);
  }
}

@media (max-width: 1024px) {
  .field {
    & input {
      border-radius: 1.25vw;
      padding: 2vw 2vw;
      font-size: 1.8vw;
    }

    & .errorText {
      margin-top: 1vw;
      font-size: 1.65vw;
    }
  }
}

.btnEmail {
  width: 100%;
  background: var(--color-purple-for-button);
  font-size: 0.9vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-smallBold);
  line-height: var(--font-lineh-normal);
  padding: 0.75vw 0;
  border: none;
  border-radius: 0.5vw;
  border: 0.1vw solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: rgba(107, 65, 179, 0.8);
    border: 0.1vw solid rgba(107, 65, 179, 0.2);
    box-shadow: 0 0.1vw 0.25vw 0.15vw rgba(107, 65, 179, 0.2);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

@media (max-width: 1024px) {
  .btnEmail {
    font-size: 1.8vw;
    padding: 1.75vw 0;
    border-radius: 1.25vw;
  }
}

.btnCard {
  width: 100%;
  background: var(--color-blue);
  font-size: 0.9vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-smallBold);
  line-height: var(--font-lineh-normal);
  padding: 0.75vw 0;
  border: none;
  border-radius: 0.5vw;
  border: 0.1vw solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 1.25vw;

  &:hover {
    background-color: rgba(59, 130, 246, 0.8);
    border: 0.1vw solid rgba(59, 130, 246, 0.2);
    box-shadow: 0 0.1vw 0.25vw 0.15vw rgba(59, 130, 246, 0.2);
  }
}

@media (max-width: 1024px) {
  .btnCard {
    font-size: 1.8vw;
    padding: 1.75vw 0;
    border-radius: 1.25vw;
    margin-top: 2vw;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
